body {
  background-color: black;
  color: white;
}
.hello {
  text-align: center;
  position: relative;
}
#hello-page {
  text-align: center;
}
.play {
  position: relative;
  top: 100px;
}
.company {
  text-align: center;
  position: relative;
  top: 200px;
}
.togame-text {
  color: white;
}
#company-name {
  color: white;
  background-color: black;
  width: 250px;
  text-align: center;
  border: none;
  border-bottom: 2px solid powderblue;
}